body {
    background-color: #4c6ef5;
}

h1 {
    color: #4c6ef5;
    font-weight: bold;
    text-align: center;
}

.display-3 {
    text-align: center;
}

.display-5 {
    text-align: center;
    color: black;
    font-size: 24px;
}


.mb-0 {
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.mt-0 {
    color: #4c6ef5;
    font-weight: bold;
    font-size: 24px;

}

.col-lg-7 {
    background-color: transparent;
    border-radius: 25px;
}

.namePlate {
    background-color: transparent;
}
.container {
    margin-top: 45px;
    color: black;
}

.container-fluid {
    margin-top: 45px;
    color: black;
}


.navbar {
    background-color: black;
    color: white;
    padding-right: 20px;
}

.nav-link {
    color: white;
}



.card-body {
    margin: auto;
    font-size: 16px;
    height: 300px;
}

.card-img {
    height: 400px;
}

.card-img-overlay {
    text-align: center;
}

.card-img-top {
    height: 238.66px;
}

.card-title {
    color: lightcoral;
    font-size: 34px;
}


.btn-btn-primary {
    align-self: center;
}

.fixed-bottom {
    background-color: black;
    height: 85px;
}

h5 {
    color: #4c6ef5;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1000;
  }

.align-self-start {
    border-radius: 50%;
    height: 300px;
    width: 325px;
    padding-left: 20px;
    padding-right: 20px;
}

.clearfix {
    overflow: auto;
}

.display-4 {
    padding-top: 100px;
    margin: auto;
    color: #4c6ef5;
    font-weight: bold;
}

.lead {
    color: white;
}

.align-self-center {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}





